POSTGRES_DB=infinitygodiagnostics
POSTGRES_USER=infinitygo_app
POSTGRES_PASSWORD=infinitygo_app_local_2026

ADMIN_USERNAME=admin
ADMIN_PASSWORD=infinitygo_admin_local_2026

NEXT_PUBLIC_API_BASE_URL=http://localhost:8080
OOKLA_CLI_BINARY=speedtest
OOKLA_SERVER_ID=35474
OOKLA_PROVIDER_LABEL=Ookla CLI / InfinityGO Telecom
OOKLA_REGION_LABEL=Caldas Novas/GO
OOKLA_TIMEOUT_SECONDS=90
